<IfModule mod_rewrite.c>
	<IfModule mod_negotiation.c>
		Options -MultiViews -Indexes
	</IfModule>
	<Files .env>
		order allow, deny
		Deny from all
	</Files>
	<Files .env.example>
		order allow, deny
		Deny from all
	</Files>
	<Files .gitignore> 
		order allow, deny
		Deny from all
	</Files>
	<Files composer.json> 
		order allow, deny
		Deny from all
	</Files>
	<Files composer.lock>
		order allow, deny 
		Deny from all
	</Files>
	<Files .editorconfig>
		order allow, deny 
		Deny from all
	</Files>
	
	RewriteEngine On
</IfModule>